# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build folders
bin/
obj/

# Rider / JetBrains
.idea/

# Visual Studio Code
.vscode/

# Publish folder
publish/

# Test results
TestResults/

# OS fajlovi
.DS_Store
Thumbs.db

# NuGet packages
*.nupkg
packages/

# Temporary / cache / log fajlovi
*.cache
*.log

# Visual Studio indeks fajlovi
*.vsidx
